.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-dark);
  z-index: 9;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-nav__title {
  font-family: var(--font-secondary);
  font-size: var(--size-2xl);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}

.mobile-nav__social-container {
  display: flex;
  gap: 1rem;
}

.mobile-nav__social {
  font-size: var(--size-lg);
  color: var(--clr-neutral1100);
  line-height: 0;
  text-decoration: none;
}

.mobile-nav__separator {
  border: 1px solid var(--clr-neutral350);
  padding-right: 1.5rem;
}

.mobile-nav__enter-app-btn {
  font-size: var(--size-xs);
  text-transform: uppercase;
}

.mobile-nav__close-btn {
  position: absolute;
  top: 30px;
  right: 15px;
  font-family: var(--font-secondary);
  color: var(--clr-text);
  font-size: var(--size-sm);
  text-transform: uppercase;
}
