.skills__title {
  line-height: 1;
  font-size: var(--size-2xl);
}

.skills__description {
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--clr-muted);
  margin: 1rem 0;
}

.skills__box {
  background-color: var(--clr-bg);
  padding: 2rem;
  border-radius: 6px;
  margin-top: 1rem;
}

.skills__box--0margin {
  margin: 0;
}

.skills__box-icon-container {
  padding: 1em;
  border: 1px solid var(--clr-neutral400);
  border-radius: 6px;
  display: inline-block;
}

.skills__box-icon {
  width: var(--size-lg);
  height: var(--size-lg);
}

.skills__box-title {
  font-size: var(--size-sm);
  margin: 0.5rem 0;
}

.skills__box-description {
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .skills__title {
    font-size: var(--size-3xl);
  }

  .skills__description {
    font-size: var(--size-base);
  }

  .skills__box-icon {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }

  .skills__box-title {
    font-size: var(--size-base);
  }

  .skills__box-description {
    font-size: var(--size-sm);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .skills__description {
    max-width: 60ch;
  }
}

/* lg */
@media (min-width: 1024px) {
  .skills__box {
    margin: 0;
  }

  .skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .skills__container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
  }

  .skills__content {
    min-width: 30rem;
  }

  .skills__title {
    font-size: var(--size-4xl);
  }

  .skills__description {
    font-size: var(--size-lg);
    margin-top: 2rem;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
